.radio-button .ant-radio-button-wrapper:not(:first-child)::before {
    width: 0;
}

.radio-button .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    background: #eff5fe;
    border-color: #eff5fe;
    color: #337bf7;
}

.radio-button .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):nth-child(2) {
    background: #fdeff9;
    border-color: #fdeff9;
    color: #ee7ecc;
}

.birthday-picker .ant-picker .ant-picker-clear>* {
    background: #f0f0f0;
}

.birthday-picker-popup .ant-picker-footer {
    display: none;
}

.age-input .ant-input[disabled] {
    border-color: #f5f5f5;
    color: #1e1e1e;
}

/* input-number */
.number-input .ant-input-number {
    border-color: #f5f5f5;
    background: #f5f5f5;
}

.number-input .ant-input-number:hover,
.number-input .ant-input-number:focus {
    border-color: #f0f0f0;
}

.number-input .ant-input-number:focus-within {
    border-color: #9ad14b;
    box-shadow: 0 0 0 2px rgba(148, 255, 4, 0.1);
}

.number-input .ant-input-number-input {
    padding: 8px 12px;
    border-radius: 6px 0 0 6px;
    background: #f5f5f5;
}

.number-input .ant-input-number-input:hover {
    background: #f0f0f0;
}

.number-input .ant-input-number-handler-wrap {
    border-radius: 0;
}

.number-input .ant-input-number .ant-input-number-handler {
    border-inline-start: 0;
}

.number-input .ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.number-input .ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
    color: #9ad14b;
}

.number-input .ant-input-number .ant-input-number-handler-down {
    border-block-start: 1px solid #f0f0f0;
}

.number-input .ant-input-number-group-addon {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}

/* city-cascader */
.city-cascader .ant-select-single {
    height: 40px;
}

.city-cascader .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0px 12px;
}

.city-cascader .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
}

.city-cascader .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 38px;
}

.city-cascader .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.city-cascader .ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #9ad14b;
    box-shadow: 0 0 0 2px rgba(148, 255, 4, 0.1);
}

.dropdown-cascader.ant-cascader-dropdown .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.dropdown-cascader.ant-cascader-dropdown .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
    background-color: #e9f6dc;
}

/* energy */
.energy-radio .ant-radio-wrapper span.ant-radio+* {
    padding-inline-end: 0;
}

.energy-select .ant-select-selector {
    font-size: 12px;
}
