@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  /* #f5f5f5 */
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  max-width: 6px;
  max-height: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  /* background: rgba(0, 0, 0, 0.1); */
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img,
svg,
canvas,
audio,
iframe,
embed,
object {
  display: unset;
  vertical-align: unset;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}


/* a */
a {
  color: #9ad14b;
}

a:hover {
  color: #b2d482;
}

/* 封装一些 tailwind class*/
@layer components {

  /* 占满容器 */
  .tw-full {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* 文字超长省略 */
  .tw-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* flex水平垂直居中 */
  .tw-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* border */
  .tw-border-normal {
    border: 1px solid rgb(238, 238, 238);
  }

  /* 文字三行省略 */
  .tw-line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
  }

  /* 文字三行省略 */
  .tw-line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }

  /* 文字五行省略 */
  .tw-line-clamp-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
  }
}

/* modal */
.ant-modal .ant-modal-header {
  margin-bottom: 24px;
}

/* 输入框 */
.ant-input-affix-wrapper:focus-within {
  border-color: #9ad14b;
  box-shadow: 0 0 0 2px rgba(148, 255, 4, 0.1);
}

.ant-input-affix-wrapper:hover {
  border-color: #b2d482;
}

.ant-input:focus-within {
  border-color: #9ad14b;
  box-shadow: 0 0 0 2px rgba(148, 255, 4, 0.1);
}

.ant-input:hover {
  border-color: #b2d482;
}

/* button-primary */
.ant-btn-primary {
  background: #9ad14b;
  box-shadow: 0 0 0 2px rgba(148, 255, 4, 0.1);
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background: #b2d482;
}

/* button-default */
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #b2d482;
  border-color: #b2d482;
}

.ant-popconfirm-buttons .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #b2d482;
  border-color: #b2d482;
}

/* button-link */
.ant-btn-link {
  color: #9ad14b;
}

.ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
  color: #b2d482;
}

/* menu */
.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.ant-menu-light .ant-menu-item-selected {
  color: #78ae2c;
  background-color: #e9f6dc;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #e9f6dc;
}

.ant-menu-vertical .ant-menu-item {
  margin-inline: 8px;
  width: calc(100% - 16px);
}

.ant-menu-inline-collapsed>.ant-menu-item {
  padding-inline: calc(50% - 16px);
}

/* collapsed */
.ant-menu-inline-collapsed-tooltip {
  display: none;
}

.ant-dropdown-menu-inline-collapsed-tooltip {
  display: none;
}

/* 分割线 */
.ant-divider-horizontal {
  margin: 16px 0;
}

/* switch */
.ant-switch.ant-switch-checked {
  background: #9ad14b;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled):hover {
  background: #b2d482;
}

/* ant-picker */
.ant-picker:hover {
  border-color: #b2d482;
}

.ant-picker-focused.ant-picker {
  border-color: #9ad14b;
  box-shadow: 0 0 0 2px rgba(148, 255, 4, 0.1);
}

.ant-picker-dropdown .ant-picker-time-panel-column>li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: #e9f6dc;
}

/* 日期选择器 */
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #9ad14b;
}

/* radio */
.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #9ad14b;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #9ad14b;
  background-color: #9ad14b;
}

.ant-radio-wrapper .ant-radio-checked::after {
  border: 1px solid #9ad14b;
}

/* select */
.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: #b2d482;
}

.ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #9ad14b;
  box-shadow: 0 0 0 2px rgba(148, 255, 4, 0.1);
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #e9f6dc;
}

/* slider */
.ant-slider .ant-slider-track,
.ant-slider:hover .ant-slider-track {
  background-color: #9ad14b;
}

.ant-slider .ant-slider-handle::after,
.ant-slider:hover .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #9ad14b;
}

.ant-slider .ant-slider-handle:hover::after,
.ant-slider .ant-slider-handle:focus::after {
  box-shadow: 0 0 0 4px #9ad14b;
}

/* tabs */
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #9ad14b;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #b2d482;
}

.ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible) {
  color: #9ad14b;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #9ad14b;
}

/* calender */
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-calendar-date,
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-calendar-date-today {
  background: #e9f6dc;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-today {
  border-color: #9ad14b;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-selected .ant-picker-calendar-date .ant-picker-calendar-date-value,
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-selected:hover .ant-picker-calendar-date .ant-picker-calendar-date-value,
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-selected .ant-picker-calendar-date-today .ant-picker-calendar-date-value,
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-selected:hover .ant-picker-calendar-date-today .ant-picker-calendar-date-value {
  color: #9ad14b;
}

/* Pagination */
.ant-pagination .ant-pagination-item-active a {
  color: #9ad14b;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #9ad14b;
}